@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
    background-color: #0A0D11;
}

nav>ul {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

main {
    background-image: url(./Resources/Ellipse\ 5.png), url(./Resources/Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-position: top right, top left;
}

.hero-header {
    background: linear-gradient(to right, #FFF5A1 0%, #BF841A 51%, #FFCD74 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
}


.btn {
    padding: 6px 24px;
}

.unfill-btn {
    background-color: transparent;
    color: #D4AF37;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid;
    border-image-source: linear-gradient(162deg, #BF953F, #000000, #ffffff5c);
    border-image-slice: 1;
    transition: all 0.3s ease;
}

.fill-btn {
    border-radius: 4px;
    font-size: 18px;
    background: linear-gradient(to right, #FFF5A1 0%, #BF841A 51%, #FFCD74 100%);
}